/* Main Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 16px;
  background-image: url('/profile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 3%;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  position: relative;
}

.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Inner scrollable content wrapper */
.profile-content {
  flex: 1;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

/* Logo */
.logo {
  width: 110px;
  margin: 1rem auto;

}

/* Buttons */
button {
  border: none;
  outline: none;
  padding: 10px;
  width: 280px;
  font-size: 14px;
  color: rgb(18, 15, 15);
  background-color: #1e1e3f;
  border-radius: 30px;
  height: 50px;
  margin: 0.5rem 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

/* Bottom Nav */
.bottom-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 560px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #0d0d18, #1e1e3f);
  padding: 0.8rem 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -5px 15px rgba(31, 8, 90, 0.8);
  z-index: 3;
}

/* Bottom Nav Icons */
.nav-icon {
  font-size: 40px;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.15);
  color: white;
}

.nav-icon.active {
  color: #0b0101;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ffff;
}

/* Responsive Tweaks for Tablets & Desktop */
@media (min-width: 600px) {
  .logo {
    width: 130px;
  }

  h2 {
    font-size: 32px;
  }

  input, button {
    width: 300px;
    font-size: 16px;
  }

  .nav-icon {
    font-size: 45px;
  }
}

/* Small devices */
@media (max-width: 400px) {
  input, button {
    width: 90%;
  }

  .logo {
    width: 100px;
  }
}


